.contact {
  background: $backgroundColour;
  padding: 182px 0;

  a {
    color: white;
    font-weight: 700;

    &:hover, &:focus {
      color: $buttonColour;
    }
  }
  
  .wrapper {
    position: relative;
  }

  aside::before, aside::after {
    background-color: white;
  }
  
  h2, p, label {
    color: white;
  }

  h2, p {
    text-align: center;
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .mdl-button--accent.mdl-button--accent.mdl-button--raised{
    margin: 22px auto;
    border-radius: 0;
    width: 166px;
    height: 70px;    

    &:hover, &:focus{
      background: linear-gradient(rgba(255,255,255,0.45), rgba(255,255,255,0.45)), $buttonColour;
    }
  }

  h2 {
    margin-bottom: 26px;
  }
}

form {
  width: 100%;
  display: block;
  margin: 0 auto;
}

form div {
  margin: 0 auto;
  width: 450px;
}

.form__name {
  margin-top: 82px;
}

input, textarea {  
  background: white;
  padding: 20px;
  min-width: 450px;
  margin-bottom: 30px;

  &::placeholder {
    color: $headingColour;
  }
}

input {
  height: 70px;
}

label {  
  display: block;
  margin-bottom: 12px;
}

