footer {
  padding-top: 120px;
  padding-bottom: 40px;

  h3 {
    margin: 0 auto;
    min-width: 300px;
    width: 15%;
    margin-bottom: 40px;
  }

  ul {
    margin: 0 auto;
  }

  li {
    width: 20%;

    &:first-child{
      &:hover i, &:focus i {      
        color: #0077b5;
      }
    }

    &:nth-child(2){
      &:hover i, &:focus i {      
        color: #6e5494;
      }
    }

    &:nth-child(3){
      &:hover i, &:focus i {      
        color: #1da1f2;
      }
    }

    &:nth-child(4){
      &:hover i, &:focus i {      
        color: #f56040;
      }
    }

    &:last-child{
      &:hover i, &:focus i {      
        color: #00ab6c;
      }
    }
    
  }

  i {
    width: 100%;
    transition: 0.3s ease-in-out;
    text-align: center;
  }
  
  a {
    height: 100%;
    display: block;    
  }

  p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 45px;
  }
}

.socialBox {
  display: flex;
  justify-content: space-around;
  margin: 0 200px;
}