footer {
  padding: 120px 0;

  h3 {
    margin: 0 auto;
    width: 15%;
    margin-bottom: 40px;
  }

  ul {
    width: 30%;
    margin: 0 auto;
  }

  li {
    width: 20%;
  }

  i {
    width: 100%;
  }
}

.socialBox {
  display: flex;
  justify-content: space-between;
}