.gallery {
  padding: 120px 0;  
}

.main-carousel {
  height: 540px;
}

.carousel-cell {
  height: 100%;
  min-width: 1024px;
}

.flickity-page-dots {
  bottom: -47px;

  .dot {
    width: 23px;
    height: 23px;
    margin: 0 9px;
  }
}