html {
    font-size: 16px;
    
}

body{    
    font-family: $textFont;
    letter-spacing: 1.5px;    
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
    color: $textColour;
}

h1, h2, h3 {
    color: $headingColour;
}

.titleBlock p {
    font-weight: 300;
}

img {
    display: block;
    max-width: 100%;
}

ul, li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $textColour;
}

button, input, textarea {
    border-style: none;
    background: none;
}

textarea {
	resize: none;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

span {
    font-weight: 700;
}

h1 {
    font-size: $h1FontSize;
    text-shadow: 3.5px 7px 0px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    text-transform: uppercase;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
    background: $buttonColour;
    width: 253px;
    height: 66px;
    border-radius: 500px;
    margin-left: auto;
    color: white;
    display: block;
}

h2 {
    font-size: $h2FontSize;
}

h3 {
    font-size: $h3FontSize;
}

p {
    line-height: 30px;
    font-weight: 400;
}

.contrast {
    color: white;

    &:hover, &:focus {
        color: $buttonColour;
        font-weight: 700;
    }
}

aside {
  transform: rotate(-90deg) translateX(50%);
  position: absolute;
  left: -173px;
  top: calc(50% + 65px);

  &::before, &::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: $textColour;
    position: absolute;
    top: 50%;
  }

  &::before {
    left: -97px;
  }

  &::after {
    right: -97px;
  }
}

.titleBlock {

    h2, p {
      text-align: center;
      position: relative;
      margin-bottom: 33px;
    }

    p {
        margin: 0 auto;        
        max-width: 170px;
        font-size: 0.9rem;
        margin-bottom: 63px;
    }

    p::before, p::after {
        content: "";
        display: block;
        height: 2px;
        width: 100px;
        position: absolute;
        top: 50%;
        background-color: black;
    }

    p::before {
        left: -124px;
    }

    p::after {
        right: -124px;
    }
}