$buttonColour: #fe3a0f;
$backgroundColour: #252525;
$headingColour: #191919;
$textColour: #242424;
$shadowColour: rgba(0, 0, 0, 0.3);
$altBlack: #1a1a1a;
$textFont: 'Open Sans', sans-serif;
$h1FontSize: calc(110rem / 16);
$h2FontSize: calc(72rem / 16);
$textFontSize: calc(30rem / 16);