.work {
  padding: 120px 0;
}

.project__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;

  &:nth-child(odd){
    flex-direction: row-reverse;
    text-align: right;
  }

  &:last-child {
    margin-bottom: 0;
  }

  img{
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h3, h4 {
    margin: 0;
  }

  h3 {
    line-height: 55px;
    text-transform: capitalize;
  }

  h4 {
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 10px;
  }
}

.project__box--img, .project__box--blurb {
  width: calc(50% - 20px);
}

.project__box--blurb {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}